@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color ease-out 0.2s;
  letter-spacing: 0.04rem;
}

:root {
  scroll-behavior: smooth;

  --link-color: #0f0f0f;
  /* --link-hover: rgb(52 211 153); */
  /* --link-active: rgb(16 185 129); */

  --color-main: rgb(245 158 11);

  --root-bg: #f2f2f2;
  --root-color: #010101;

  --tw-text-opacity: 1;
  --content-bg: rgb(254 254 254);
  --content-bg-tp: rgba(254, 254, 254, 200);
  --content-bg-emphasis: rgb(196, 196, 196);
  --content-bg-hover: rgb(230, 230, 230);

  color-scheme: light;

  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: block;
  background-color: var(--root-bg);
  width: 10px;
  border-radius: 120px;
}

::-webkit-scrollbar:hover {
  background-color: var(--content-bg);
}

::-webkit-scrollbar-thumb {
  display: block;
  background-color: var(--content-bg);
  border-radius: 120px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--content-bg-emphasis);
}

:root {
  font-family: Helvetica, Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--root-color);
  background-color: var(--root-bg);

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
}

:root.light {
  --link-color: #0f0f0f;
  /* --link-hover: rgb(52 211 153); */
  /* --link-active: rgb(16 185 129); */

  --root-bg: #f2f2f2;
  --root-color: #010101;

  --tw-text-opacity: 1;
  --content-bg: rgb(254 254 254);
  --content-bg-emphasis: rgb(196, 196, 196);
  --content-bg-hover: rgb(230, 230, 230);

  color-scheme: light;
}

:root.dark {
  --link-color: white;
  /* --link-hover: rgb(52 211 153); */
  /* --link-active: rgb(16 185 129); */

  --root-bg: rgb(19, 27, 40);
  --root-color: #efefef;

  --content-bg: rgba(30, 41, 59);
  --content-bg-tp: rgba(30, 41, 59, 200);

  --content-bg-emphasis: rgb(15 23 42);
  --content-bg-hover: rgb(32, 43, 62);

  color-scheme: dark;
}

a:hover {
  color: var(--link-hover);
}

a.active {
  color: var(--link-active);
  @apply font-medium;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: white;
    --link-hover: rgb(52 211 153);
    --link-active: rgb(16 185 129);

    --color-main: rgb(16 185 129);

    --root-bg: #2f2f2f;
    --root-color: #efefef;

    --content-bg: rgba(30, 41, 59);
    --content-bg-emphasis: rgb(15 23 42);
    --content-bg-hover: rgb(32, 43, 62);

    color-scheme: dark;
  }
}

.animate-hide {
  transition: all 1s;
  transform: translateX(-200%);
  opacity: 0;
}

.animate-show {
  /* animation: inin ease-in 1s; */
  transition: all 0.5s;
  opacity: 1;
  /* transform: translateX(0); */
}

.animate-blur-in {
  animation: blur-appear 2s ease;
  opacity: 1;
}

@keyframes inin {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes outout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blur-appear {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.light .blured-content-bg {
  background-color: rgb(254 254 254 / 0.75);
  @apply backdrop-blur-lg;
}
.blured-content-bg {
  background-color: rgb(254 254 254 / 0.75);
  @apply backdrop-blur-lg;
}
.dark .blured-content-bg {
  background-color: rgba(30, 41, 59, 0.75);
  @apply backdrop-blur-lg;
}

.dark .myname {
  animation: flicker 3s infinite linear;
}

@-webkit-keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4),
      -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px,
      0 0 5px var(--color-main), 0 0 15px #ff4444, 0 0 2px var(--color-main), 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4),
      -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px,
      0 0 5px var(--color-main), 0 0 15px #ff4444, 0 0 2px var(--color-main), 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

.not-show {
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  opacity: 0;
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.not-show-project {
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 1s;
  opacity: 0;
}

.show-project {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .not-show {
    transition: none;
  }
}
